$colors: rgb(197, 189, 189) rgb(235, 235, 235) rgb(192, 192, 192) rgb(238, 238, 238) rgb(182, 182, 182) rgb(235, 235, 235);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

body, html {
    height: 100%;
}

h1 {
    margin: 3rem;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-gap: 1rem;
    cursor: pointer;

    .card{

        transition: transform 1s;

        @for $i from 1 through 6 {
            &:nth-of-type(#{$i}) {
                background: nth($colors, $i)
            }
        } 

        &:hover {
            transform: translateY(-10px);
        }

        img{
            width: 100%;
        }

        .info {
            padding: 1rem;
        }
    }

}


.displayGrid{
    font-size: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto, 5);
    grid-template-areas: 
    "section1"
    "section2"
    "section3"
    "main"
    "footer"
    ;

    @media (min-width: 576px) {
        grid-template-columns: auto 27% 27% 27%;
        grid-template-rows: 8% 30% auto 10%;
        grid-template-areas: 
        "sidebar header header header"
        "sidebar section1 section2 sectionThree"
        "sidebar main main main"
        "sidebar footer footer footer"
    }


    .dg__aside{
        background: #67b6f7; 
        grid-area: sidebar;
    }

    .dg__header{
        background: #f5b641; grid-area: header;
    }
    .dg__section1{background: #6ab3cf; grid-area: section1;}
    .dg__section2{background: #476b88; grid-area: section2;}
    .dg__serction3{background: #169ae7; grid-area: sectionThree;}
    .dg__main{background: #6c924d; grid-area: main;}
    .dg__footer{background: #b17eaa; grid-area: footer;}

}